---

const pageTitle = "Sobre";

const identity = {
  firstName: "Jonathan",
  country: "Brazil",
  occupation: "WebDev",
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

---

<html lang="pt-br">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Teste</title>
	</head>
	<body>
    <a href="/">Home</a>
    <a href="/about">Sobre</a>
    <a href="/blog">Blog</a>

		<h2>{pageTitle}</h2>
    <h3>{identity.firstName} <small>({identity.country})</small></h3>
    <ul>
      {skills.map(skill => <li>{skill}</li>)}
    </ul>
	</body>
</html>
